<div class="tab" data-tab="{{ dataTab }}">
    <div class="form-group">
        <label for="sg5e-tensionDieScene">{{localize "SG5E.tensionDieScene.Label"}}</label>
        <div class="form-fields">
            <select id="sg5e-tensionDieScene" name="flags.sg5e.sceneTensionDie" data-dtype="String">
                <option value="" {{#if sceneTension }}{{else}}selected{{/if}}>
                    {{localize "SG5E.tensionDieScene.CampaignOption"}} ({{localize campaignTension}})
                </option>
                {{ selectOptions tensionDiceOptions selected=sceneTension localize=true}}
            </select>
        </div>

        <p class="notes">
            {{localize "SG5E.tensionDieScene.Notes"}}
        </p>
    </div>
</div>

